<div class="container">
  <div class="row">
    <div class="col-6">
      <h1><%= t("global.edit") %> <%= t("activerecord.models.tag", count: 1).downcase %></h1>

      <%= render "form", tag: @tag %>
    </div>
  </div>
</div>
