<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>Tags</h1>

      <div>
        <% @tags.each do |tag| %>
          <%= render "tag", tag: tag %>
        <% end %>
      </div>

      <div class="d-flex justify-content-center">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
