<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tags</h1>
        <% @tags.each do |tag| %>
          <%= render "tag", tag: tag %>
        <% end %>
    </div>
  </div>
</div>
