<h1><%= @tag.title %></h1>

<div>
  <%= link_to "Edit this tag", edit_task_path(@tag) %> |
  <%= link_to "Back to tags", tags_path %>

  <%= button_to "Destroy this tag", @tag, method: :delete %>
</div>
